[package]
name = "subspace-node"
version = "0.1.0"
authors = ["Subspace Labs <https://subspace.network>"]
description = "A Subspace Network Blockchain node."
edition = "2024"
license = "0BSD"
build = "build.rs"
homepage = "https://subspace.network"
repository = "https://github.com/autonomys/subspace"
include = [
    "/src",
    "/build.rs",
    "/Cargo.toml",
    "/README.md"
]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
ab-cli-utils = { workspace = true }
ab-core-primitives = { workspace = true }
ab-networking = { workspace = true }
ab-proof-of-space = { workspace = true }
clap = { workspace = true, features = ["derive"] }
fdlimit = { workspace = true }
frame-support = { workspace = true }
futures = { workspace = true }
hex-literal = { workspace = true }
mimalloc = { workspace = true }
prometheus-client = { workspace = true }
sc-chain-spec = { workspace = true }
sc-cli = { workspace = true }
sc-consensus-subspace = { workspace = true }
sc-network = { workspace = true }
sc-service = { workspace = true }
sc-storage-monitor = { workspace = true }
serde_json = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
subspace-metrics = { workspace = true }
subspace-runtime = { workspace = true }
subspace-runtime-primitives = { workspace = true }
subspace-service = { workspace = true }
substrate-prometheus-endpoint = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
tracing = { workspace = true }

[build-dependencies]
substrate-build-script-utils = { workspace = true }
