[package]
name = "ab-farmer"
description = "Farmer library and CLI"
license = "0BSD"
version = "0.1.0"
authors = ["Nazar Mokrynskyi <nazar@mokrynskyi.com>"]
edition = "2024"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "ab-farmer"
required-features = ["binary"]

[dependencies]
ab-cli-utils = { workspace = true, optional = true }
ab-core-primitives = { workspace = true }
ab-data-retrieval = { workspace = true }
ab-direct-io-file = { workspace = true }
ab-erasure-coding = { workspace = true }
ab-farmer-components = { workspace = true }
ab-farmer-rpc-primitives = { workspace = true }
ab-networking = { workspace = true }
ab-proof-of-space = { workspace = true }
ab-proof-of-space-gpu = { workspace = true }
anyhow = { workspace = true }
async-lock = { workspace = true, features = ["std"] }
async-nats = { workspace = true, optional = true }
async-trait = { workspace = true }
backoff = { workspace = true, features = ["futures", "tokio"] }
blake3 = { workspace = true }
bytes = { workspace = true }
bytesize = { workspace = true }
clap = { workspace = true, features = ["derive"], optional = true }
criterion = { workspace = true, features = ["rayon", "async"], optional = true }
derive_more = { workspace = true, features = ["full"] }
ed25519-zebra = { workspace = true }
event-listener = { workspace = true }
event-listener-primitives = { workspace = true }
fs4 = { workspace = true }
futures = { workspace = true }
hex = { workspace = true, features = ["serde"] }
hwlocality = { workspace = true, features = ["vendored"], optional = true }
jsonrpsee = { workspace = true, features = ["ws-client"] }
mimalloc = { workspace = true, optional = true }
num_cpus = { workspace = true }
ouroboros = { workspace = true }
parity-scale-codec = { workspace = true }
parking_lot = { workspace = true }
pin-project = { workspace = true }
prometheus-client = { workspace = true }
rand = { workspace = true }
rayon = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
thread-priority = { workspace = true }
tokio = { workspace = true, features = ["macros", "parking_lot", "rt-multi-thread", "sync", "time"] }
tokio-stream = { workspace = true, features = ["sync"] }
tracing = { workspace = true }
ulid = { workspace = true, features = ["serde"] }
zeroize = { workspace = true }

[features]
default = ["default-library", "binary"]
cluster = ["dep:async-nats"]
numa = ["dep:hwlocality"]

# TODO: This is a hack for https://github.com/rust-lang/cargo/issues/1982, `default-library` is what would essentially
#  be default, but because binary compilation will require explicit feature to be specified without `binary` feature we
#  make `binary` the default feature and allow user of the library to opt-out when then need just a library instead,
#  while still being able to leverage default feature
default-library = ["cluster", "numa"]
binary = [
    "dep:ab-cli-utils",
    "dep:clap",
    "dep:criterion",
    "dep:mimalloc",
]

[lints]
workspace = true
