[package]
name = "ab-io-type"
description = "Infrastructure for zero-cost no-copy serialization/deserialization"
license = "0BSD"
version = "0.0.1"
authors = ["Nazar Mokrynskyi <nazar@mokrynskyi.com>"]
edition = "2024"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
ab-trivial-type-derive = { workspace = true }
parity-scale-codec = { workspace = true, features = ["bytes", "derive", "max-encoded-len"], optional = true }
serde = { workspace = true, features = ["derive"], optional = true }

[features]
scale-codec = [
    "dep:parity-scale-codec",
]
serde = [
    "dep:serde",
]

[lints]
workspace = true
