[package]
name = "ab-erasure-coding"
description = "Erasure coding implementation"
license = "0BSD"
version = "0.1.0"
authors = ["Nazar Mokrynskyi <nazar@mokrynskyi.com>"]
edition = "2024"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
all-features = true

# TODO: Benches

[dependencies]
reed-solomon-simd = { workspace = true }
thiserror = { workspace = true, default-features = false }

[dev-dependencies]
chacha20 = { workspace = true, features = ["rng"] }

[lints]
workspace = true
