[package]
name = "sc-consensus-subspace"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>", "Subspace Labs <admin@subspace.network>"]
description = "Subspace consensus algorithm for substrate"
edition = "2021"
license = "0BSD"
homepage = "https://subspace.network"
repository = "https://github.com/autonomys/subspace"
documentation = "https://docs.rs/sc-consensus-subspace"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
ab-erasure-coding = { workspace = true }
async-trait = { workspace = true }
parity-scale-codec = { workspace = true, features = ["derive"] }
futures = { workspace = true }
parking_lot = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
rayon = { workspace = true }
schnorrkel = { workspace = true }
sc-client-api = { workspace = true }
sc-consensus = { workspace = true }
sc-consensus-slots = { workspace = true }
sc-proof-of-time = { workspace = true }
sc-telemetry = { workspace = true }
sc-utils = { workspace = true }
sp-api = { workspace = true }
sp-blockchain = { workspace = true }
sp-block-builder = { workspace = true, features = ["std"] }
sp-consensus = { workspace = true }
sp-consensus-subspace = { workspace = true, features = ["std"] }
sp-consensus-slots = { workspace = true }
sp-core = { workspace = true }
sp-inherents = { workspace = true }
sp-objects = { workspace = true, features = ["std"] }
sp-runtime = { workspace = true }
subspace-archiving = { workspace = true, features = ["parallel"] }
subspace-core-primitives = { workspace = true }
subspace-proof-of-space = { workspace = true }
subspace-verification = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["sync", "time"] }
tracing = { workspace = true }
