[package]
name = "subspace-runtime"
version = "0.1.0"
authors = ["Subspace Labs <https://subspace.network>"]
edition = "2021"
license = "0BSD"
homepage = "https://subspace.network"
repository = "https://github.com/autonomys/subspace"
include = [
    "/src",
    "/build.rs",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
frame-benchmarking = { workspace = true, optional = true }
frame-executive = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-benchmarking = { workspace = true, optional = true }
frame-system-rpc-runtime-api = { workspace = true }
pallet-balances = { workspace = true }
pallet-runtime-configs = { workspace = true }
pallet-subspace = { workspace = true, features = ["serde"] }
pallet-sudo = { workspace = true }
pallet-timestamp = { workspace = true }
pallet-transaction-fees = { workspace = true }
pallet-transaction-payment = { workspace = true }
pallet-transaction-payment-rpc-runtime-api = { workspace = true }
pallet-utility = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
sp-api = { workspace = true }
sp-block-builder = { workspace = true }
sp-consensus-subspace = { workspace = true }
sp-core = { workspace = true }
sp-genesis-builder = { workspace = true }
sp-inherents = { workspace = true }
sp-objects = { workspace = true }
sp-offchain = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-transaction-pool = { workspace = true }
sp-version = { workspace = true }
static_assertions = { workspace = true }
subspace-core-primitives = { workspace = true }
subspace-runtime-primitives = { workspace = true }

[build-dependencies]
substrate-wasm-builder = { workspace = true, optional = true }

[dev-dependencies]
sp-io = { workspace = true }
subspace-runtime-primitives = { workspace = true, features = ["testing"] }

[features]
default = ["std"]
std = [
    "parity-scale-codec/std",
    "frame-benchmarking?/std",
    "frame-executive/std",
    "frame-support/std",
    "frame-system/std",
    "frame-system-benchmarking?/std",
    "frame-system-rpc-runtime-api/std",
    "pallet-balances/std",
    "pallet-runtime-configs/std",
    "pallet-subspace/std",
    "pallet-sudo/std",
    "pallet-timestamp/std",
    "pallet-transaction-fees/std",
    "pallet-transaction-payment/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
    "pallet-utility/std",
    "scale-info/std",
    "sp-api/std",
    "sp-block-builder/std",
    "sp-consensus-subspace/std",
    "sp-core/std",
    "sp-genesis-builder/std",
    "sp-inherents/std",
    "sp-io/std",
    "sp-objects/std",
    "sp-offchain/std",
    "sp-runtime/std",
    "sp-std/std",
    "sp-transaction-pool/std",
    "sp-version/std",
    "subspace-runtime-primitives/std",
    "substrate-wasm-builder",
]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-benchmarking/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "frame-system-benchmarking",
    "frame-system-benchmarking/runtime-benchmarks",
    "pallet-balances/runtime-benchmarks",
    "pallet-runtime-configs/runtime-benchmarks",
    "pallet-subspace/runtime-benchmarks",
    "pallet-timestamp/runtime-benchmarks",
    "pallet-utility/runtime-benchmarks",
    "sp-runtime/runtime-benchmarks",
]
