[package]
name = "subspace-service"
version = "0.1.0"
authors = ["Subspace Labs <https://subspace.network>"]
description = "Subspace service."
edition = "2021"
license = "0BSD"
homepage = "https://subspace.network"
repository = "https://github.com/autonomys/subspace"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
anyhow.workspace = true
async-lock.workspace = true
async-trait.workspace = true
frame-benchmarking = { workspace = true, optional = true }
futures.workspace = true
hex.workspace = true
jsonrpsee = { workspace = true, features = ["server-core"] }
parity-scale-codec.workspace = true
parking_lot.workspace = true
prometheus-client.workspace = true
sc-basic-authorship.workspace = true
sc-chain-spec.workspace = true
sc-client-api.workspace = true
sc-consensus.workspace = true
sc-consensus-subspace.workspace = true
sc-consensus-subspace-rpc.workspace = true
sc-consensus-slots.workspace = true
sc-executor.workspace = true
sc-informant.workspace = true
sc-network.workspace = true
sc-network-sync.workspace = true
sc-network-transactions.workspace = true
sc-proof-of-time.workspace = true
sc-rpc.workspace = true
sc-service.workspace = true
sc-tracing.workspace = true
sc-transaction-pool.workspace = true
sc-transaction-pool-api.workspace = true
schnorrkel.workspace = true
sp-api.workspace = true
sp-blockchain.workspace = true
sp-block-builder.workspace = true
sp-consensus.workspace = true
sp-consensus-subspace.workspace = true
sp-core.workspace = true
sp-io.workspace = true
sp-objects.workspace = true
sp-offchain.workspace = true
sp-runtime.workspace = true
sp-timestamp.workspace = true
sp-transaction-pool.workspace = true
static_assertions.workspace = true
subspace-archiving = { workspace = true, features = ["parallel"] }
subspace-core-primitives.workspace = true
subspace-data-retrieval.workspace = true
subspace-erasure-coding.workspace = true
subspace-networking.workspace = true
subspace-proof-of-space.workspace = true
subspace-runtime-primitives.workspace = true
sc-subspace-sync-common.workspace = true
substrate-prometheus-endpoint.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["sync"] }
tracing.workspace = true
sp-session.workspace = true
frame-system-rpc-runtime-api.workspace = true
pallet-transaction-payment-rpc-runtime-api.workspace = true

[features]
runtime-benchmarks = [
    "dep:frame-benchmarking",
]
