[package]
name = "sp-consensus-subspace"
version = "0.1.0"
authors = ["Parity Technologies <admin@parity.io>", "Subspace Labs <admin@subspace.network>"]
description = "Primitives for Subspace consensus"
edition = "2021"
license = "0BSD"
homepage = "https://subspace.network"
repository = "https://github.com/autonomys/subspace"
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
async-trait = { workspace = true, optional = true }
parity-scale-codec = { workspace = true }
log = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
sp-api = { workspace = true }
sp-application-crypto = { workspace = true }
sp-core = { workspace = true }
sp-externalities = { workspace = true }
sp-inherents = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-runtime-interface = { workspace = true }
sp-std = { workspace = true }
sp-timestamp = { workspace = true }
subspace-core-primitives = { workspace = true, features = ["alloc", "scale-codec"] }
subspace-verification = { workspace = true, features = ["alloc", "scale-codec"] }
thiserror = { workspace = true }

[features]
default = ["std"]
std = [
    "async-trait",
    "parity-scale-codec/std",
    "log/std",
    "scale-info/std",
    "sp-api/std",
    "sp-application-crypto/std",
    "sp-core/std",
    "sp-externalities/std",
    "sp-inherents/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-runtime-interface/std",
    "sp-std/std",
    "sp-timestamp/std",
    "thiserror/std",
]

runtime-benchmarks = []
