[package]
name = "ab-client-consensus-common"
description = "Common client-side consensus utilities"
license = "0BSD"
version = "0.0.1"
authors = ["Nazar Mokrynskyi <nazar@mokrynskyi.com>"]
edition = "2024"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
ab-aligned-buffer = { workspace = true }
ab-client-api = { workspace = true }
ab-core-primitives = { workspace = true }
ab-merkle-tree = { workspace = true }
blake3 = { workspace = true }
futures = { workspace = true, features = ["std"] }
thiserror = { workspace = true }

[lints]
workspace = true
