[package]
name = "ab-contracts-common"
description = "Proc macros for contracts"
license = "0BSD"
version = "0.0.1"
authors = ["Nazar Mokrynskyi <nazar@mokrynskyi.com>"]
edition = "2024"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
ab-core-primitives = { workspace = true }
ab-blake3 = { workspace = true }
# NOTE: `blake3` is here only for `no-panic` feature
blake3 = { workspace = true, optional = true }
ab-io-type = { workspace = true }
derive_destructure2 = { workspace = true }
derive_more = { workspace = true, features = ["display"] }
no-panic = { workspace = true, optional = true }
thiserror = { workspace = true }

[features]
guest = []
# APIs needed for native executor
executor = []
# Check that code can't panic under any conditions
no-panic = [
    "dep:no-panic",
    # Helps with testing on CPUs without AVX512 support
    "blake3/no_avx512",
]

[lints]
workspace = true
