[package]
name = "ab-contracts-macros"
description = "Common code for contracts (implementation)"
license = "0BSD"
version = "0.0.1"
authors = ["Nazar Mokrynskyi <nazar@mokrynskyi.com>"]
edition = "2024"
include = [
    "/src",
    "/Cargo.toml",
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
ab-contracts-common = { workspace = true }
ab-contracts-io-type = { workspace = true }
ab-contracts-macros-impl = { workspace = true }
const_format = { workspace = true }

[features]
guest = [
    "ab-contracts-common/guest"
]

[lints]
workspace = true
