name: gh-pages

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: gh-pages-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gh-pages:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          submodules: 'true'

      - name: Install mdbook with extra preprocessors
        uses: taiki-e/install-action@90558ad1e179036f31467972b00dec6cb80701fa # 2.66.3
        with:
          tool: mdbook@0.5,mdbook-d2@0.3.8

      - name: D2 CLI
        run: |
          curl -fsSL https://d2lang.com/install.sh | sh -s --

      - name: Create target dir
        run: mkdir gh-pages

      - name: Build rustdoc
        run: |
          cargo -Zgitoxide -Zgit doc --locked --all --no-deps --lib --all-features
          cp -r target/doc gh-pages/rust-docs
        env:
          RUSTDOCFLAGS: "-D rustdoc::broken-intra-doc-links -D rustdoc::private_intra_doc_links -Z unstable-options --enable-index-page"

      - name: Install Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f #v3.0.0
        with:
          hugo-version: 0.148.2

      - name: Build main website
        run: |
          hugo build --minify --source website/main --destination $PWD/gh-pages

      - name: Build mdBook
        run: mdbook build website/book --dest-dir $PWD/gh-pages/book

      # This is needed for a custom domain to work
      - name: CNAME
        run: |
          echo "abundance.build" > gh-pages/CNAME
        if: ${{ github.repository_owner == 'nazar-pc' }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # 4.8.2
        with:
          branch: gh-pages
          single-commit: true
          folder: gh-pages
        if: ${{ github.event_name == 'push' }}
